* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Aeonik"; */
}

body {
  background: #fff;
}

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

::-webkit-scrollbar-button {
  background: #e9e6f1;
}

::-webkit-scrollbar-track-piece {
  background: #e9e6f1;
}

::-webkit-scrollbar-thumb {
  background: #220075;
  border-radius: 8px;
}

​ @font-face {
  font-family: "Aeonik";
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url("fonts/Aeonik-Thin.otf") format("truetype");
}

@font-face {
  font-family: "Aeonik";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("fonts/Aeonik-Light.otf") format("truetype");
}

@font-face {
  font-family: "Aeonik";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("fonts/Aeonik-Regular.otf") format("truetype");
}

@font-face {
  font-family: "Aeonik";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("fonts/Aeonik-Medium.otf") format("truetype");
}

@font-face {
  font-family: "Aeonik";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("fonts/Aeonik-Bold.otf") format("truetype");
}

@font-face {
  font-family: "Aeonik";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("fonts/Aeonik-Black.otf") format("truetype");
}
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge, and Opera */
  }
}

@media (max-width: 700px) {
  ::-webkit-scrollbar {
    height: 3px;
  }
}
